*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: wheat;
}

header {
  background-image: url(./images/20211001_143317.jpg);
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-position: center;
     object-position: center;
  isolation: isolate;
}

header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  background-color: black;
  mix-blend-mode: multiply;
}

header .header-links p,
header .header-links i {
  font-size: 1.5rem;
  color: white;
}

header .header-links i {
  display: none;
}

header .main-text {
  z-index: 1;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .main-text .large-text {
  font-size: 4.2rem;
  color: #fda706;
  text-shadow: 3px 1px 5px black;
  font-family: papyrus;
  font-weight: 600;
}

header .main-text .small-text {
  font-size: 3.7rem;
  color: orange;
  text-shadow: 3px 1px 5px black;
  padding-top: 1rem;
  font-family: papyrus;
  font-weight: 600;
}

.first_text {
  background-color: #000;
  min-height: 40vh;
}

.first_text p {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 60%;
  padding-top: 1.5rem;
  text-indent: 2.5rem;
}

.first_text p::first-letter {
  font-size: 3rem;
}

.second_text {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5rem;
  background-color: #88cbf9;
}

.container-mcgill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  padding: 1rem;
  float: left;
}

.container-mcgill img {
  width: 100%;
}

.container-mcgill .text-mcgill {
  position: absolute;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  padding: .5rem;
  color: white;
}

.container-mcgill .text-mcgill sup {
  color: white;
}

.third-text {
  position: relative;
  background-color: #8691a7;
  min-height: 48vh;
}

.third-text .third-text-text p {
  font-size: 1.6rem;
  padding: 2rem;
  color: whitesmoke;
}

.forth-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1.5fr;
      grid-template-columns: 2.5fr 1.5fr;
  background-color: #d3ac70;
}

.forth-text img {
  width: 100%;
  padding: 2rem;
}

.forth-text p {
  font-size: 1.6rem;
  padding: 2rem;
  width: 100%;
}

.first-photo-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 90%;
  grid-gap: 1rem;
  padding: 1.5rem;
  background: #000;
}

.first-photo-group img {
  width: 100%;
}

.fifth-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2.5fr;
      grid-template-columns: 1.5fr 2.5fr;
  background-color: #49592e;
}

.fifth-text p {
  font-size: 1.5rem;
  padding: 2rem;
  color: #fff;
}

.fifth-text img {
  width: 100%;
  padding: 2rem;
}

.second-photo-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 90%;
  grid-gap: 1rem;
  padding: 1.5rem;
  background-color: black;
}

.second-photo-group img {
  width: 100%;
}

.second-photo-group .larger {
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=main.css.map */