*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-size: 10px;
  box-sizing: border-box;
  background-color: wheat;
}

header {
  background-image: url(./images/20211001_143317.jpg);
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: center;
  isolation: isolate;
}

header .header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: black;
  mix-blend-mode: multiply;
}

header .header-links p,
header .header-links i {
  font-size: 1.5rem;
  color: white;
}

header .header-links i {
  display: none;
}

header .main-text {
  z-index: 1;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .main-text .large-text {
  font-size: 4.2rem;
  color: #fda706;
  text-shadow: 3px 1px 5px black;
  font-family: papyrus;
  font-weight: 600;
}

header .main-text .small-text {
  font-size: 3.7rem;
  color: orange;
  text-shadow: 3px 1px 5px black;
  padding-top: 1rem;
  font-family: papyrus;
  font-weight: 600;
}

.first_text {
  background-color: #000;
  min-height: 40vh;
}

.first_text p {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 60%;
  padding-top: 1.5rem;
  text-indent: 2.5rem;
}

.first_text p::first-letter {
  font-size: 3rem;
}

.second_text {
  font-size: 1.6rem;
  display: flex;
  gap: 2rem;
  flex: 1;
  padding: 3rem 3rem;
  background-color: #88cbf9;
}

.third-text {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #8691a7;
  padding: 1.5rem;
}

.third-text img {
  width: 100%;
}

.third-text-text {
  display: flex;
  align-items: center;
}

.third-text-text P {
  font-size: 1.5rem;
  padding: 1.5em;
  color: whitesmoke;
}

.third-text .container-mcgill p {
  color: whitesmoke;
}

.third-text .container-mcgill p sup {
  color: inherit;
}

.forth-text {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #d3ac70;
}

.forth-text img {
  width: 100%;
  padding: 2rem;
}

.forth-text p {
  font-size: 1.6rem;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.first-photo-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 90%;
  grid-gap: 1rem;
  padding: 1.5rem;
  background: #000;
}

.first-photo-group img {
  width: 100%;
}

.fifth-text {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #49592e;
}

.fifth-text p {
  font-size: 1.5rem;
  padding: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.fifth-text img {
  width: 100%;
  padding: 2rem;
}

.second-photo-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 90%;
  grid-gap: 1rem;
  padding: 1.5rem;
  background-color: black;
}

.second-photo-group img {
  width: 100%;
}

.second-photo-group .larger {
  height: 100%;
  align-self: center;
}

.sixth-text {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  background-color: orange;
}

.sixth-text p {
  font-size: 1.5rem;
  padding: 2rem;
}

.sixth-text img {
  width: 100%;
}

.sixth-text-text {
  display: flex;
  align-items: center;
}

.sixth-text .container-koa p {
  color: black;
  font-size: .7rem;
  padding: 0;
}

.seventh-text {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 90%;
  background-color: #88cbf9;
  padding: 2.5rem;
  columns: 2;
}

.eighth-text {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1.5rem;
  background-color: #8691a7;
}

.eighth-text p {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  padding: 1rem 3rem;
  color: white;
}

.eighth-text img {
  width: 100%;
}

.third-photo-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
  background-color: black;
}

.third-photo-group img {
  width: 100%;
}

.third-photo-group .lizard {
  display: flex;
  align-items: center;
  height: 100%;
}

.ninth-text {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1.5rem;
  background-color: #d3ac70;
}

.ninth-text img {
  width: 100%;
}

.ninth-text .text-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ninth-text p {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.links {
  font-size: 1.6rem;
  columns: 2;
  padding: 1.5rem;
}

.links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links li {
  list-style: none;
  padding: 1rem;
}

.links a:hover {
  text-decoration: underline;
}

.links-2 {
  padding: 1.5rem;
  font-size: 1.5rem;
}
