@import "./components/mixins";

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    font-size: 10px;
    box-sizing: border-box;
    background-color: wheat;
}

@import "./components/header";
@import "./components/main";
@import "./components/links";
@import "./components/footer";


@import "./components/media-querys"