* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  
}
header {
  position: relative;
}
.nav-intro {
  position: absolute;
}

.cover-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: right;
  border: 10px inset #E53935;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;
}
.intro-heading {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 3rem;
  font-family: raleway;
  color: black;
  text-shadow: 2px 2px 2px #E53935;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu a {
  padding: 0 3em;
  text-decoration: underline; 
  font-size: 1.5rem;
  color: red;
}
.overlook {
  width: 50%;
}
@media (max-width: 700px) {
  .nav-menu ul,
  .flex-parent{
    flex-direction: column;
  }
  .flex-parent {
    text-align: center;
  }
  .intro-heading {
    font-size: 2.5rem;
  }
}
p {
  text-indent: 3rem;
}
span {
  font-weight: 700;
  font-style: italic;
}
.aboutbk {
  padding: 1em;
  font-size: 2rem;
  font-style: italic;
}
.overlook {
  margin: 0 1em;
  float: left;
  border: 5px outset lightblue;
}
.aboutp {
  font-size: 1.5rem;
  padding: 0.9em;
}
.about {
  padding-bottom: 1em;
  background-color: #00BFA5;
}
.flexbox {
  display: flex;
  justify-content: space-around;
  
  background-color: #0091EA;
  border: 1px solid #000;
  text-align: center;
  height: 50vh;
}
.flexelement {
  flex-grow: 1;
  text-align: center;
  padding: 3em 0.5em;
/*   border: 1px solid #000; */
}
.flexelement a {
  color: #fff;
}
.flexelement h3 {
  padding-bottom: 2em;
}
.flex-parent {
  display: flex;
  justify-content: space-around;
  background-image: url(https://images.unsplash.com/photo-1458872820079-09bf874886ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-position: center center;
}

}
.title,
.other{
  padding: .4em 1em; 
  font-size: 1.5rem;
  color: #fff;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6.5em;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
footer a {
  color: white;
  font-size: 2em;
  padding: 0 .3em;
}
#route {
  font-size: 4em;
  background: rgb(241,34,12);
background: linear-gradient(234deg, rgba(241,34,12,1) 32%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 62%, rgba(241,34,12,1) 8%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    height:  55vw;
}
